<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.ProductMapper">

    <insert id="insertProduct" parameterType="Entity.Product">
        INSERT INTO PRODUCT (PRODUCT_TYPE,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_QUANTITY) VALUES (#{product_type},#{product_name},#{product_price},#{product_qty})
    </insert>



    <select id="selectALLProduct" resultType="Entity.Product">
        SELECT * FROM PRODUCT
    </select>

</mapper>