<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.PurchaseOrderMapper">

    <select id="selectALLpo" resultType="Entity.Purchase_Order">
        SELECT
            PURCHASE_ORDER_NUMBER AS po_number,
            SUPPLIER_ID           AS supplier_id,
            PRODUCT_ID            AS product_id,
            QUANTITY              AS purchase_quantity,
            ORDER_DATE            AS order_date ,
            PRICE                 AS  order_price,
            STATUS                AS  status
        FROM PURCHASE_ORDER
    </select>

    <insert id="insertPo" parameterType="Entity.Purchase_Order">
        INSERT INTO PURCHASE_ORDER (SUPPLIER_ID, PRODUCT_ID,QUANTITY,ORDER_DATE, STATUS) VALUES (#{supplier_id},#{product_id},#{purchase_quantity}, DATE('now'), 'Pending')
    </insert>

    <select id="selectIDfortaget" resultType="Entity.Purchase_Order">
        SELECT
            PURCHASE_ORDER_NUMBER AS po_number,
            SUPPLIER_ID           AS supplier_id,
            PRODUCT_ID            AS product_id,
            QUANTITY              AS purchase_quantity,
            ORDER_DATE            AS order_date ,
            PRICE                 AS  order_price,
            STATUS                AS  status
        FROM PURCHASE_ORDER WHERE SUPPLIER_ID = #{param1}
    </select>

    <select id="selectBYPOIDToList" resultType="Entity.Purchase_Order">
        SELECT
            PURCHASE_ORDER_NUMBER AS po_number,
            SUPPLIER_ID           AS supplier_id,
            PRODUCT_ID            AS product_id,
            QUANTITY              AS purchase_quantity,
            ORDER_DATE            AS order_date ,
            PRICE                 AS  order_price,
            STATUS                AS  status
        FROM PURCHASE_ORDER WHERE PRODUCT_ID = #{param1}
    </select>

    <select id="selectBYPOID" resultType="Entity.Purchase_Order">
        SELECT
            PURCHASE_ORDER_NUMBER AS po_number,
            SUPPLIER_ID           AS supplier_id,
            PRODUCT_ID            AS product_id,
            QUANTITY              AS purchase_quantity,
            ORDER_DATE            AS order_date ,
            PRICE                 AS  order_price,
            STATUS                AS  status
        FROM PURCHASE_ORDER WHERE PURCHASE_ORDER_NUMBER = #{param1}
    </select>

    <delete id="cancelPoByID">
        DELETE FROM PURCHASE_ORDER WHERE PURCHASE_ORDER_NUMBER =#{param1}
    </delete>

    <update id="updateModifyData" parameterType="Entity.Purchase_Order">
            UPDATE PURCHASE_ORDER SET
                PURCHASE_ORDER_NUMBER=#{po_number},
                SUPPLIER_ID =#{supplier_id},
                PRODUCT_ID =#{product_id},
                QUANTITY =#{purchase_quantity},
                ORDER_DATE =#{order_date},
                PRICE     =#{order_price},
                STATUS   =#{status}
            WHERE PURCHASE_ORDER_NUMBER = #{po_number}
    </update>

    <select id="selectByDate" resultType="Entity.Purchase_Order">
        SELECT
            PURCHASE_ORDER_NUMBER AS po_number,
            SUPPLIER_ID           AS supplier_id,
            PRODUCT_ID            AS product_id,
            QUANTITY              AS purchase_quantity,
            ORDER_DATE            AS order_date ,
            PRICE                 AS  order_price,
            STATUS                AS  status
        FROM PURCHASE_ORDER WHERE ORDER_DATE  BETWEEN  #{param1} AND #{param2}
    </select>


</mapper>