<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.SupplierMapper">

    <insert id="insertAddSuplier" parameterType="Entity.Supplier">
        INSERT INTO SUPPLIER (SUPPLIER_NAME,CONTACT_NO,ADDRESS,EMAIL) VALUES (#{supplierName},#{supplierAddress},#{supplierTel},#{supplierEmail})
    </insert>

    <select id="selectAllSuppliers" resultType="Entity.Supplier">
        SELECT
            supplier_id AS supplierId,
            supplier_name AS supplierName,
            contact_no AS supplierTel,
            address AS supplierAddress,
            email AS supplierEmail,
            create_date AS dateTimeCreated
        FROM SUPPLIER
    </select>

    <select id="selectById" resultType="Entity.Supplier">
        SELECT
            supplier_id AS supplierId,
            supplier_name AS supplierName,
            contact_no AS supplierTel,
            address AS supplierAddress,
            email AS supplierEmail,
            create_date AS dateTimeCreated
        FROM SUPPLIER
        WHERE SUPPLIER_ID = #{param1}
    </select>

    <select id="selectByName" resultType="Entity.Supplier">
        SELECT
            supplier_id   AS supplierId,
           supplier_name AS supplierName,
           contact_no    AS supplierTel,
           address       AS supplierAddress,
           email         AS supplierEmail,
           create_date   AS dateTimeCreated
        FROM SUPPLIER
        WHERE SUPPLIER_NAME = #{param1} COLLATE NOCASE
    </select>

    <delete id="deleteSupplierById">
        DELETE FROM SUPPLIER WHERE SUPPLIER_ID = #{param1}
    </delete>

</mapper>