<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.TransferMapper">


    <select id="selectPendingTransfers" resultType="Entity.Stock_Transfer">
        SELECT * FROM STOCK_TRANSFER WHERE STATUS = 'Pending'
    </select>

    <update id="updateStatus" parameterType="Entity.Stock_Transfer">
        UPDATE STOCK_TRANSFER SET
             TRANSFER_ID=#{transfer_id},
             PRODUCT_ID=#{product_id}        ,
             BRANCH_ID=#{branch_id}       ,
             TRANSFER_QUANTITY=#{transfer_quantity} ,
             REQUEST_DATE=#{request_date},
             STATUS=#{status} WHERE TRANSFER_ID=#{transfer_id}
    </update>

    <select id="selectBYID" resultType="Entity.Stock_Transfer">
        SELECT * FROM STOCK_TRANSFER WHERE TRANSFER_ID=#{param1}
    </select>
    
    <delete id="deleteTransferRequest">
        DELETE FROM STOCK_TRANSFER WHERE TRANSFER_ID=#{transfer_id}
    </delete>

    <select id="selectTransfers" resultType="Entity.Stock_Transfer">
        SELECT * FROM STOCK_TRANSFER
    </select>


</mapper>